
body 
{
margin: 0;
padding: 0;
overflow-x: hidden;
background-color: lightgray;    
}
.header
{
width: 100%;
height: auto;
margin: auto;
padding: 5px;
background-color: lightseagreen;
display: flex;
flex-direction: row;    
top: 0;
position: sticky;
z-index: 5;
}
.logo
{
width: 30%;
height: auto;
padding: 5px;  
font-size: 32px;
letter-spacing: 2px;
margin-left: 3%;
}
.call-us
{
width: 50%;
height: auto;
padding: 5px;
font-size: 30px;
margin-left: 2%;
}
.create-account
{

width: 20%;
height: auto;
padding: 5px;
}
.create-account button
{
width: 80%;
height: auto;
padding: 2px;
background-color: black;
color: white;
font-size: 25px;
border: none;
border-radius: 10px;
}
#content 
{
width: 80%;
height: auto;
margin: auto;
padding: 20px;
margin-top: 5%;
display: flex;
flex-wrap: wrap;
}
.box1 
{
width: 30%;
height: 100px;
background-color: white;   
margin: 5px; 
}

.box2 
{
width: 67%;
height: 100px;
background-color: white;   
margin: 5px; 
}
#banner
{
width: 80%;
height: 350px;
margin-left: 10%;
background: linear-gradient(rgba(200,0,0,0.5),rgba(5,0,0,0.8)),url('https://png.pngtree.com/thumb_back/fh260/background/20250205/pngtree-soft-pastel-floral-design-light-blue-background-image_16896113.jpg') no-repeat; 
background-size: cover;   
position: relative;
margin-top: 2%;
}
.banner-txt
{
width: 60%;
height: auto;
margin-top: 8%;
margin-left: 20%;   
position: absolute;
color: white; 
}
